h2 {
    margin-top: -.5em;
    margin-bottom: -.6em;text-align: center
}
img{
    margin: 2em
}
        /* This page kinda sucks */
h3{
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}
a {
    color: #ff69b4;
}
h1{margin-top: 2em; text-align: center
}
