h2 {
    margin-top: -.5em;
    margin-bottom: -.6em;text-align: center
}
img{
    margin: 2em
}
        /* This page kinda sucks */

a {
    color: #ff69b4;
}
h1{margin-top: 2em; text-align: center
}